@import url('bootstrap');

img{
    max-width: 100%;
    box-sizing: border-box;
}

.img-card{
    max-width: 50%;
}

.jumbotron{
    background-image: url(/public/ufficio-direttore.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.devil{
    max-width: 10%;
}